VITE_BACKEND_API_BASE_URL=https://localhost:44323/solutiontemplate2_api
VITE_AUTHENTICATION_BASE_URL=https://localhost:44323
VITE_BACKEND_PROXY_TARGET=https://localhost:44321
VITE_BACKEND_PROXY_PATH_BASE=/solutiontemplate2_api
VITE_BACKEND_PROXY_CHANGE_ORIGIN=false
VITE_USE_MOCK_API=true
VITE_SANDBOX_AUTH_BYPASS=true
